@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&family=Roboto&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background:url("bgImg02.jpg") ;
    color: white;
}
html{
    scroll-behavior: smooth;
}

.nav{
    background-color: transparent;
    transition: all 0.3s;
    outline: none;
}
.mobNav{
    display: none;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#menuIcon{
    margin: 10px;
    float: right;
    font-size: 30px;
}
.mobNav ul{
    display: none;
    margin-top: 20px;
    justify-content: flex-start;
    list-style: none;
    text-decoration: none;
    /* height: 70px; */
}
.mobNav ul a{
    text-decoration: none;
}
.mobNav ul li{
    margin: 0px 0px;
    padding: 21px 25px;
    color: white;
    letter-spacing:0px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
}
.mobNav ul li:hover{
    background-color: grey;
    font-weight: 500;
}

.lapNav{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
#logoImg{
    margin: 10px;
}
.lapNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 70px;
}
.lapNav ul a{
    text-decoration: none;
}
.lapNav ul li{
    margin: 0px 0px;
    padding: 21px 25px;
    color: white;
    letter-spacing:0px;
    font-size: 22px;
    cursor: pointer;
}
.lapNav ul li:hover{
    background-color: grey;
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
    .lapNav{
        display: none;
    }
    .mobNav{
        display: flex;
        background-color: black;
    }
    .section01{
        font-size: 50px !important;
    }
    .sided{
        display: inline-block;
        /* padding: 1rem 1rem; */
        /* vertical-align: middle; */
        /* margin:20px 30px; */
        padding: 10px !important;
        margin: 20px !important;
        width: 80vw !important;
        border-radius: 5px;
        cursor: pointer;
    }
    .skills{
        line-height: 10px;
        height: fit-content !important;
        }
        .about{
        line-height: 10px;
        height: 70vh !important;
        }
    .skills >h1{
        font-size: 20px;
        margin: 2px;
        letter-spacing: 3px;
        }
        
    .about >h1{
        font-size: 20px;
        margin: 2px;
        letter-spacing: 3px;
        }
        .info{
            margin: 30px 0px 30px 0px !important;
        }
        input{
            margin: 10px 0px 10px 0px !important;
        }
        .details{
            line-height: 50px !important;
            margin: 30px 0px 30px 0px !important;
            font-size: 18px !important;
            padding:00px !important;
        }
}

section{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

.section01{
    width: 100vw;
    display: flex;
    background-image: url("bgImg.jpg");
    background-size: cover;
    background-attachment: fixed !important;
    font-size: calc(100vh/10);
    font-family: 'Playpen Sans', cursive;
    color: transparent;
    -webkit-text-stroke:3px white ;
}
.section02{
    /* font-size: 50px; */
    /* width: 100vw; */
    color: white;
    text-align: center;
    background: url("bgImg02.jpg");
    background-attachment: fixed !important;
}

.sided{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 100px;
    width: 30vw;
    height: inherit;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.sided:hover{
    background-color: rgba(30, 29, 29, 0.9);
}
.sided:active{
    background-color: rgba(30, 29, 29, 0.2);
}

.skills{
font-family: 'Titillium Web', sans-serif;
line-height: 20px;
background-color: rgba(30, 29, 29, 0.4);
}
.about{
font-family: 'Quicksand', sans-serif;
letter-spacing: 2px;
line-height: 20px;
background-color: rgba(30, 29, 29, 0.4);
}

.skills >h1{
    font-size: 30px;
    margin: 30px;
    letter-spacing: 3px;
}

.about >h1{
    font-size: 30px;
    margin: 30px;
    letter-spacing: 3px;
}

.aSkill{
padding: 10px;
}

::-webkit-progress-value {
    background-color: coral;
    width: calc(100% + 90px);
    height: 20px;
}

::-moz-progress-bar {
    background-color: coral;
    width: 100%;
    height: 20px;
  }

#elem{
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
}
.hidden{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(10px);
    /* transition: all 8s; */
}
.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
    transition: all 2s;
}

.section03{
    /* color: white;
    /* margin: 60px; */
    font-size: 40px; 
    min-height: fit-content !important;
}
.section03 h2{
    font-size:30px ;
    margin: 15px;   
    padding: 30px;
    font-family: 'Roboto Slab', serif;
}

.projectList{
    display: flex;
    height: 350px;
    /* overflow-y: hidden; */
    overflow-x:scroll;
    overflow-y: hidden;   
    /* border-top: 0.4px solid white;
    border-bottom: 0.4px solid white; */
}

::-webkit-scrollbar {
    display: none;
}

.card {
    /* display: block; */
    flex:1;
    flex-shrink: 0;
    box-shadow: 0 4px 8px 0 rgba(244, 243, 243, 0.966);
    transition: 0.3s;
    min-width: 250px;
    height: 310px;
    border-radius: 5px;
    background-color: rgba(180, 177, 177, 0.867);
    transition: 0.3s;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.card:hover {
    box-shadow: 0 8px 16px  rgba(232, 230, 230, );
    position: relative;
    transform: translateY(-10px);
  }
  
  .card img {
    border-radius: 5px 5px 0 0;
    height: 250px;
  }
 
  .container {
    padding: 6px 16px;
  }
  .container a{
    color: white;
    /* font-size:30px ; */
    font-size: large;
    text-decoration: none;
}

.section04{
padding: 30px;
margin-top: 40px;
min-height: fit-content !important;
}
.section04 h1{
    font-size: 30px;
}
.contact{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding:5px;
    width: fit-content;
    height: inherit;
    border-radius: 5px;
    background-color: rgba(30, 29, 29, 0.4);
    /* height: 200px; */
}
 .info{
    margin: 30px 150px 30px 20px;
    line-height: 50px;
    padding: 30px;
 }
 input{
 width: 250px;
 height: 30px;
 border: none;
 outline: none;
 padding: 5px;
margin: 20px;
border-radius: 3px;
font-size: 15px;
}
#msg{
    height: 80px;
    padding-top: 0;
}
button[type=submit]{
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    transition: all 0.2s;
    font-weight: 1000;
    letter-spacing: 1px;
    background-color: rgba(0, 205, 0, 0.68);
    color: white ;
}
button[type=submit]:hover{
    background-color: rgba(232, 239, 232, 0.68);
    color: rgba(2, 0, 0, 0.865);
}
.details{
    line-height: 120px;
    background-color: transparent;
    margin: 30px 20px 30px 150px;
    font-size: 28px;
    padding:30px;
}
.details a{
    color: white;
    text-decoration: none;
}

footer{
    position: static;
    height: 30px;
    bottom: 0;
    letter-spacing: 15px;
    text-decoration: none;
    margin-bottom: 20px;
}
footer a{
    color: white;
    font-size: 25px;
}